<%- include('cabecera'); %>
    <h1>Ficha del Inmueble</h1>
    <% if (inmuebles) {  %>
        <div class="card mb-4">
            <img class="card-img-top" src="/uploads/<%= inmuebles.imagen %>" alt="Imagen">
            <div class="card-body">
                <h5 class="card-title">
                    <%= inmuebles.tipo.tipo %>
                </h5>
                <p class="card-text">
                    <%= inmuebles.descripcion %>
                </p>
                <p class="card-text">Superficie:
                    <%= inmuebles.superficie %>
                </p>
                <p class="card-text">Habitaciones:
                    <%= inmuebles.habitaciones %>
                </p>
                <p class="card-text">Precio:
                    <%= inmuebles.precio %>€</p>
            </div>
            <!-- el delete se debe hacer por jquery obligado -->
            <a class="btn btn-danger" onclick="borrar('<%=inmuebles.id%>')">Borrar
            </a>
        </div>
       <!-- en caso de que no haya inmuebles... -->
        <% } else { %>
            <p>No se ha encontrado el inmueble</p>
            <% } %>
                <%- include('pie'); %>