<%- include('cabecera'); %>
    
        <nav class="navbar navbar-dark bg-dark m-0">
            <form action="/inmuebles/filtrar" method="GET" class="row text-light">
                <div class="form-group col-3">
                    <label for="precio">Precio máximo :</label>
                    <input type="number" name="precio" value="0" id="precio">
                </div>
                <div class="form-group col-3">
                    <label for="superficie">Metros mínimo :</label>
                    <input type="number" name="superficie" value="0" id="superficie">
                </div>
                <div class="form-group col-3">
                    <label for="habitaciones">Habitaciones mínimas :</label>
                    <input type="number" name="habitaciones" value="0" id="habitaciones">
                </div>
                <div class="col-3 text-right">
                    <input class="btn btn-primary mt-4" type="submit">Buscar</input>
                </div>
            </form>
        </nav>
    
    <h1>Listado de inmuebles</h1>
    <% if (typeof filtros != 'undefined') {  %>
        <% if (filtros.precio > 0) {  %>
            <p>Precio máximo:
                <%= filtros.precio %>€</p>
            <% }; %>

                <% if (filtros.habitaciones > 0) {  %>
                    <p>Habitaciones mínimas:
                        <%= filtros.habitaciones %> o más</p>
                    <% }; %>

                        <% if (filtros.superficie > 0) {  %>
                            <p>Superficie mínima:
                                <%= filtros.superficie %>m2 o más</p>
                            <% }; %>
                                <% }; %>

                                    <% if (inmuebles.length > 0) {  %>
                                        <div class="card-deck">
                                            <% inmuebles.forEach( inmueble => {%>
                                                <div class="card mt-4" style="max-width: auto;">
                                                    <img class="card-img-top" src="/uploads/<%= inmueble.imagen %>" alt="Piso image">
                                                    <div class="card-body">
                                                        <h3 class="card-title">
                                                            Tipo de inmueble:
                                                            <%= inmueble.tipo.tipo %>
                                                        </h3>
                                                        <p class="card-text">
                                                            <h5>Descripción:
                                                                <%= inmueble.descripcion %>
                                                            </h5>

                                                            <h6>
                                                                Superficie:
                                                                <%= inmueble.superficie %> m2</h6>
                                                            <!-- por hacer -->
                                                            <a href="/inmuebles/<%= inmueble.id %>" class="btn btn-primary m-auto">Ver detalle</a>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="text-right">
                                                            Precio:
                                                            <%= inmueble.precio %> €</div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                        </div>
                                        <% } else { %>
                                            <p class="alert alert-danger">No hay inmuebles de este tipo</p>
                                            <% } %>
                                                <%- include('pie'); %>